<h1>Listing quotes for <%= @stock.symbol %> </h1>

<p>
   This stock has <%= @stock.quotes.size %> quotes.
</p>

<p>
<table>
  <tr>
    <th>Date</th>
    <th>Win Y/N</th>
    <th>Test prediction</th>
  </tr> 

  <%= @stock.quotes.each do |quote| %>    
    <tr>
      <td> <%= quote.date %> </td>
      <td> <%= quote.win %> </td> 
      <td> <%= quote.prediction %> </td>          
    </tr>   

  <% end %>

</table>
<hr/> 
</p>

Add A Quote:

<p>
  <%= form_for(Quote.new, :url => stock_quotes_path(@stock)) do |f| %>
    <%= f.date_select :date %>
    <%= f.select :stock_id, Stock.all.collect {|p| [p.symbol, p.id]} %>
    <%= f.submit "Add Quote" %>
  <% end %>
</p>
