<h1>Listing quotes for <%= @stock.symbol %> </h1>

<p> 
   <font color="red"><b>Win Percentage is</b></font> 
   <%= @stock.win_percentage %>
   
</p>

<p>
<table>
  <tr>
    <th></th>
    <th>Date</th>
    <th></th>
    <th>Win Y/N</th>
    <th></th>
    <th>Test prediction</th>
  </tr> 

  <%= @stock.quotes.each do |quote| %>    
    <tr>
      <td><%= link_to 'Show', stock_quote_path(@stock, quote) %> </td>
      <td> <%= quote.date %> </td>
      <td></td>
      <td> <%= quote.win %> </td> 
      <td></td>
      <td> <%= quote.prediction %> </td>          
    </tr>   

  <% end %>

</table>
<hr/> 
</p>

Add A Quote:

<p>
  <%= form_for(Quote.new, :url => stock_quotes_path(@stock)) do |f| %>
    <%= f.date_select :date %>    
    <%= f.submit "Add Quote" %>
  <% end %>
</p>
