<h1>Listing quotes for <%= @stock.symbol %> </h1>

<p>
   Invalid Quotes: <%= @stock.quotes.where(:day_zero_open => 1000).size %>
   This stock has <%= @stock.quotes.size %> quotes. 
   This stock has <%= @stock.quotes.where(:win => true).size %> Wins
 
   <% win = @stock.quotes.where(:win => true).size %>
   <% total = @stock.quotes.size %>
   Win Percentage is <%= ((win.to_f / total)*100).round(2)  %>
   
</p>

<p>
<table>
  <tr>
    <th></th>
    <th>Date</th>
    <th></th>
    <th>Win Y/N</th>
    <th></th>
    <th>Test prediction</th>
  </tr> 

  <%= @stock.quotes.each do |quote| %>    
    <tr>
      <td><%= link_to 'Show', stock_quote_path(@stock, quote) %> </td>
      <td> <%= quote.date %> </td>
      <td></td>
      <td> <%= quote.win %> </td> 
      <td></td>
      <td> <%= quote.prediction %> </td>          
    </tr>   

  <% end %>

</table>
<hr/> 
</p>

Add A Quote:

<p>
  <%= form_for(Quote.new, :url => stock_quotes_path(@stock)) do |f| %>
    <%= f.date_select :date %>    
    <%= f.submit "Add Quote" %>
  <% end %>
</p>
