<h1>Stock Index Page</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th>Stock</th>
    <th></th>
    <th>Win Percentage</th>
    <th></th>
    <th>Risk Gain Ratio</th>
    <th>$5,000 Invenstment</th>
    
  </tr> 

  <% @stock.each do |stock| %>    
    <tr>
      <td><%= stock.Quarter_1_date %></td>
      <td><%= stock.timing %></td>
      <td><%= link_to 'Show', stock %> </td>
      <td> <%= stock.symbol %> </td>
      <td></td>
      <td> <%= stock.win_percentage %> </td>
      <td></td>      
      <td><%= stock.risk_gain_ratio %></td>
      <td><%= stock.bank %></td>

    </tr>       
  <% end %>

</table>