<p id="notice"><%= notice %></p>

<h1> Stock Symbol:  <%= @stock.symbol.upcase %> </h1>

Text: <%= @stock.averages %>

<p>  
 
</br>
  <font color="red"><b>Prediction Win Percentage</b></font> 
  <%= @stock.win_percentage %> <br/>
  $1,000 Investment returns: <%= @stock.bank %> <br/>
  Average Upside = <%= @stock.average_upside %> <br/>
  Average Downside = <%= @stock.average_dwonside %> <br/>
  Risk Gain Ratio = <%= @stock.risk_gain_ratio %>
  
</p>
<!-- 
#adding quote list and form
 -->
<p>
<table>
  <tr>
    <th></th>
    <th>Date</th>
    <th></th>
    <th>Win Y/N</th>
    <th></th>
    <th>Test prediction</th>
    <th></th>
    <th>Percent Gain or Loss</th>
  </tr> 

  <% @stock.quotes.each do |quote|  %>        
    <tr>            
      <td><%= link_to 'Show', stock_quote_path(@stock, quote) %> </td>
      <td> <%= quote.date %> </td> 
      <td></td>
      <td> <%= quote.win %> </td> 
      <td></td>
      <td> <%= quote.prediction %> </td> 
      <td></td>
      <td><%= quote.gain_or_loss_percent %></td>
    </tr>   

  <% end %>

</table>

</p>

Add A Quote:
<hr/> 
<p>
  <%= form_for(Quote.new, :url => stock_quotes_path(@stock)) do |f| %>
    <%= f.date_select :date %>    
    <%= f.submit "Add Quote" %>
  <% end %>
</p>

