<p id="notice"><%= notice %></p>

<h1> Stock Symbol:  <%= @stock.symbol.upcase %> </h1>

<p>  
  This stock has <%= @stock.quotes.size %> Quotes
</br>
  This stock has <%= @stock.quotes.where(:win => true).size %> Quotes with wins.
</br>
  <font color="red"><b>Prediction Win Percentage</b></font> 
  <%= ((@stock.quotes.where(:win => true).size.to_f / @stock.quotes.size)*100).round(3) %>
</p>

